 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(41,51,45,0.55), rgba(41,51,45,0.55)), url("images/53b24797eddd3d16ada855bda5bfbf064c6bc800bf321f8f787391cf770548e30120b756b470d4c4a45a6032c02ceb3b645e14956b2ed6e233f477_1280.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 720px;
}

.u-section-1 .u-group-1 {
  width: 478px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 478px;
  margin: 141px auto 0 331px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 14px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 94px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 158px;
  height: 158px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1500ms;
  margin: 46px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-weight: 700;
  margin: 50px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 16px auto 0;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 100px;
  height: 100px;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4);
  margin: -534px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 594px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 242px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 62px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 215px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 340px;
    margin-left: 0;
  }
}